body {
    min-width: 220px;
    min-height: 160px;
    font-family: sans-serif;
    font-size: 14px;
}

.form-heading { 
    font-size: 16px;
    padding: 5px;
    color: rgb(100, 100, 100);
    background-color: rgb(238, 238, 238);
}

#drawModeOptionsContainer{
    margin: 10px 0;
}

#brushNumRangeInputContainer{
    padding: 0 15px;
}

#brushNumIndicator{
    padding: 0 20px;
}

#saveButton{
    padding: 5px 10px;
}