#instruction-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    color: black;
    display: none;
    padding: 10px; 
}

/* Text for instruction overlay */
#instruction-overlay h1{
    font-size: 40px;
    text-align: center;
}

/* Make the text smaller on smaller browser windows */
@media (max-width: 1200px){
    #instruction-overlay h1{
        font-size: 30px;
    }
}

@media (max-width: 920px){
    #instruction-overlay h1{
        font-size: 25px;
    }
}

/* Instruction overlay will be placed inside containerCanvas which also contains canvasGame:
        containerCanvas
            > instruction-overlay
            > canvasGame
            > overlay (Skribbl.io)
   - If the containerCanvas is given the show-instruction-overlay class, then the instruction overlay will show, and the canvasGame and Skribbl.io's overlay will be hidden. 
   - You cannot use 'display: none' to hide the canvasGame. The containerCanvas's height scale with the height of canvasGame. When you use 'display: none', the page will be rendered
     as if canvasGame is not there, so the height will be 0. The containerCanvas also has 'overflow: none', so anything going out of its bound will be hidden.
     Everything will be out of bounds as the height is 0, so the overlay will not show. This is set by Skribbl.io itself so it's best to leave it alone.
        *Workaround*: If canvasGame's opacity is set to 0, it will be invisible, but its height is unaffected. */
.show-instruction-overlay #instruction-overlay{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.show-instruction-overlay #canvasGame{
    opacity: 0;
}

.show-instruction-overlay #overlay{
    display: none;
}

